body {
    background-image:url('https://i.gifer.com/Cj4Q.gif');
    background-size: cover;
}

#tron {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 100px;
    font-family: fantasy;
    font-style: italic;
    margin: 10px;
    overflow:visible;
    animation: 1s linear 0s infinite alternate zoom;
}

@keyframes zoom {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1.1);
    }
}

#T  {
    animation-duration: .5s;
    animation-name: clignoterT;
    animation-iteration-count: infinite;
}

#R  {
    animation-duration: .5s;
    animation-name: clignoterR;
    animation-iteration-count: infinite;
}

#O  {
    animation-duration: .5s;
    animation-name: clignoterO;
    animation-iteration-count: infinite;
}

#N  {
    animation-duration: .5s;
    animation-name: clignoterN;
    animation-iteration-count: infinite;
}

 @keyframes clignoterT {
    0%  {color:lightskyblue;}
    20% {color:rgb(120, 173, 219);}
    40% {color:rgb(97, 179, 242);}
    60% {color:rgb(43, 80, 226);}
    80% {color:blue;}
    100%{ color:rgb(65, 19, 235);}
  }

  @keyframes clignoterR {
    20%  {color:lightskyblue;}
    40% {color:rgb(120, 173, 219);}
    60% {color:rgb(97, 179, 242);}
    80% {color:rgb(43, 80, 226);}
    100% {color:blue;}
    0%{ color:rgb(65, 19, 235);}
  }

  @keyframes clignoterO {
    40%  {color:lightskyblue;}
    60% {color:rgb(120, 173, 219);}
    80% {color:rgb(97, 179, 242);}
    100% {color:rgb(43, 80, 226);}
    0% {color:blue;}
    20%{ color:rgb(65, 19, 235);}
  }

  @keyframes clignoterN {
    60%  {color:lightskyblue;}
    80% {color:rgb(120, 173, 219);}
    100% {color:rgb(97, 179, 242);}
    0% {color:rgb(43, 80, 226);}
    20% {color:blue;}
    40%{ color:rgb(65, 19, 235);}
  }



      /*-----------------------CONNECTION------------------------*/

.connection {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1ch;
}

#connectionForm {
    padding: 40px;
    background: lightblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: 1s linear infinite alternate neonBackground;
}

@keyframes neonBackground {
    0%  {box-shadow:0px 0px 20px 5px lightblue;}
    25% {box-shadow:0px 0px 20px 4px lightblue;}
    80% {box-shadow:0px 0px 20px 6px lightblue;}
    100%{box-shadow:0px 0px 20px 3px lightblue;}
  }

  #labelConnectionForm {
    font-family: 'Bahnschrift SemiBold', monospace;
    color:rgb(7, 7, 79);
}

.bouton {
    padding: 8px;
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(7, 7, 79);
    cursor: pointer;
}


    /*-----------------------WAITING------------------------*/
#waiting{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1ch;
}

#waitingTitle { 
    color: white;    
    font-size: 100px;
    font-family: fantasy;
    font-style: italic;
    margin: 10px;
}

#point1 {
    animation: 1s linear 0s infinite alternate moveDot1;
}
@keyframes moveDot1 {
    33%  {transform: scale(.8);}
}

#point2 {
    animation: 1s linear 0s infinite moveDot2;
}
@keyframes moveDot2 {
    66%  {transform: scale(.8);}
}

#point3 {
    animation: 1s linear 0s infinite moveDot3;
}
@keyframes moveDot3 {
    99% {transform: scale(.8);}
}

    /*-----------------------ENDING------------------------*/
#content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#endingTitle {
    display: flex;
    align-self: center;
    font-size: medium;
    font-size: 50px;
    font-family: 'Bahnschrift';
    font-weight:normal;
    color: lightblue;
}

#scoreBoard {
    display: flex;
    align-self: center;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    font-family: 'Bahnschrift';
    background-color: rgb(167, 213, 229,.5);
}

tbody {
    border-spacing: 17px;
}





#loginConnected {
    display: none;
}
